:host {
  --header-bg-color: #ffffff;
  --header-border-color: #ddd;
  --header-text-color: #12295e;
  --spacing: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing) calc(var(--spacing) * 2);
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);
  gap: var(--spacing);
  color: var(--header-text-color);
}

.header__title {
  margin: 0;
  font-size: 1.8rem;
}

.header__logo {
  height: 2rem;
}
